* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* White background sections */
#start, #cartridge, #specification {
    background-color: #d7d7d7;
    width: 100%;
    border: 1px solid transparent;
    z-index: -2;
}

/* Section containers */
.start-container, .about-container, .specification-container, .panel-container, .cartridge-container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.start-container {
    padding-top: 5%;
    padding-bottom: 9%;
}

.logo-container {
    margin: 0 auto;
    width: 80%;
    left: 2%;
}

.logo-quantum {
    width: 68%;
    height: auto;
    margin-bottom: 25%;
}

.device-large {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 31%;
    right: -13%;
    margin: 0;
    z-index: 100;
}

.motto {
    font-weight: 500;
    font-size: 2rem;
}

.button-buy {
    background-color: #3c3c3c;
    color: #ebebeb;
    font-weight: 500;
    font-size: 1.7rem;
    padding: 8px 0px;
    border-radius: 5px;
    width: 31%;
    border: none;
}

/* Dark background sections */
#about, #panel {
    background-color: #3c3c3c;
    width: 100%;
    z-index: -2;
    border: 1px solid transparent;
}

.about-content {
    width: 75%;
    margin: 7% auto 7% 9%;
    color: #ebebeb;
    font-size: 1.5rem;
}

.specification-content {
    width: 93%;
    margin: 8% auto 5% auto;
    color: #3c3c3c;
    display: flex;
}

.specification-holder {
    width: 100%;
    height: auto;
    margin-left: 5%;
}

.holder-info {
    padding: 5% 0 0 2%;
}

.holder-description {
    color: #3c3c3c;
    font-size: 1.2rem;
    line-height: 1.5;
}

.panel-device {
    max-width: 90%;
    height: auto;
    position: relative;
    top:-150px;
    margin-left: 10%;
    margin-bottom: -5%;
}

.cartridge-container {
    padding-bottom: 15%;
}

.cartridge-img {
    margin-left: 7%;
    max-width: 70%;
    height: auto;
}

.cartridge-about {
    width: 90%;
    margin: 7% auto;
    position: relative;
}

.cartridge-text {
    width: 60%;
    color: #3c3c3c;
    font-size: 1.1rem;
    position: absolute;
    bottom: 15%;
    left: 38%;
    line-height: 1.7;
}

/* Specification info container */
.cartridge-specification {
    display: flex;
}

.left-specification, .right-specification {
    width: 35%;
    margin: 0 auto;
}

.left-specification {
    margin-left: 8%;
}

.power-header, .parameter-header, .speed-header, .package-header {
    color: #3c3c3c;
    font-size: 1.9rem;
    font-weight: bold;
    margin-right: 5%;
}


.power-text, .parameter-text, .speed-text, .package-text {
    margin-top: 3%;
    color: #3c3c3c;
    font-size: 1.1rem;
    line-height: 1.5;
}

.power-text {
    margin-bottom: 20%;
}

.speed-text {
    margin-bottom: 40%;
}


